.loading_element,
.map_element {
    height: 100%;
}

.container_element {
    height: 100vh;
}

.gm-style .gm-style-iw-c {
    border-radius: 60px 0 60px 60px;
}

.info_wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 20px;
}

.info_wrapper div {
    padding: 5px 0px;
}

.driver_name {
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 18px;
    color: #104d46;
}

.deliveries {
    margin: 0;
    color: #333;
    font-size: 14px;
    line-height: 16px;
}

.info_window_icon {
    display: none;
    width: 35px;
}

.toggle_destination {
    margin: 15px auto 0;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    font-size: 16px;
}

@media screen and (min-width: 640px) {
    .info_wrapper {
        flex-direction: row;
        align-items: center;
        width: 400px;
        justify-content: space-between;
    }

    .info_window_icon {
        display: block;
    }

    .toggle_destination {
        border-radius: 100%;
        width: 64px;
        height: 64px;
        background: #000;
        color: #fff;
        font-size: 14px;
        margin: 0;
    }

    .toggle_destination:hover {
        background: #104d46;
    }

    .toggle_destination:active {
        text-shadow: -1px -1px 0px #777, -1px -1px 0px #777;
        box-shadow: inset 1px 1px 4px #222;
    }

    .gm-style .gm-style-iw-c {
        border-radius: 80px 0 80px 80px;
    }
}